 <h1>User info</h1>
  <table class="table table-striped">
    <%= image_tag user.get_profile_image %>
    <thead>
    <tr>
  　<th>name </th>
  　<th><%= user.name %></th>
  　</tr>
  　<tr>
    <th>introduction </th>
    <th><%= user.introduction %></th>
    </tr>
  </thead>
</table>


 <div class="row">
 <%= link_to  edit_user_path(user.id) do %>
 <i class="fas fa-user-cog "></i>

 <% end %>
</div>



